events {}
http {
    server {
        listen 8080;

        location / {
            add_header test asdf;
            root /home/tk/Desktop/ComputerScience/old-donkey/nginx/www1;
        }

        location /my-node-server {
            proxy_set_header test test;
            proxy_pass http://localhost:3000;
        }

        location /my-node-server/forward {
            proxy_set_header test test/forwarded;
            proxy_pass http://localhost:3000;
        }
    }
}
